@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* Scrollbars */
*::-webkit-scrollbar-track {
  /* cor e reio da faixa da barra de rolagem */
  background-color: #1b1c1e;
}

*::-webkit-scrollbar {
  /* Largura e altura da barra de rolagem */
  width: 6px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  /* Cor e raio do "polegar" da barra de rolagem */
  background-color: #303030;
  border-radius: 35px;
}

/* Global */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: #1b1c1e;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html, body {
  margin: 0px;
  color: white;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
}

@media screen and (max-width:1200px) {
  br.mobile-dead {
    display: none;
  }
}

/* Typography */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 400;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(113 113 122/var(--tw-text-opacity));
}
a {
  --tw-text-opacity: 1;
  color: rgb(31 131 132/var(--tw-text-opacity));
  font-weight: normal;
  text-decoration: none;
  transition: 0.2s ease all;
  cursor: pointer;
}

/* Grid */
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(3, 0fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  align-items: center;
  height: 100vh;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2;
  padding: 50px 10px 0px 10px;
  max-height: 15vh;
}
.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 3 / 1 / 4 / 2;
  min-height: 15vh;
  max-height: 15vh;
}
.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 4 / 1 / 5 / 2;
  padding: 0px 10px 50px 10px;
  max-height: 15vh;
}

/* Intro Typography */
.intro{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(113 113 122/var(--tw-text-opacity));
}

/* nav */
.subnav{
  padding: 10px 10px 10px 10px;
}

/* Video Background */
.video_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  display: flex;
  justify-content: center;
}
#video-viewport {
  position: absolute;
  top: 0;
  overflow: hidden;
}
#video-viewport video {
  max-width: none;
  width: 1920px;
  height: 1080px;
}
@media screen and (max-width:2560px) and (max-height:900px) {
  #video-viewport video {
      max-width: none;
      width: 2560px;
      height: 937px;
  }
}
@media screen and (max-width:1600px) and (max-height:900px) {
  #video-viewport video {
      max-width: none;
      width: 1600px;
      height: 900px;
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  #video-viewport video {
      max-width: none;
      width: 1366px;
      height: 768px;
  }
}